@font-face {
	font-family: 'Floriselscript';
	src: url('../assets/fonts/Floriselscript.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('../assets/fonts/Inter.ttf') format('truetype-variations');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter-Italic';
	src: url('../assets/fonts/Inter-Italic.ttf') format('truetype-variations');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}