.header {
	padding-block: #{fluid(20,10)};

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 20px;
	}

	&__menu {
		@include mobile {
			position: fixed;
			inset: 0;
			z-index: var(--layer-mobile-menu);
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-color: var(--color-accent);
			transition-duration: var(--transition-duration);

			&:not(.is-active) {
				@include hide;
			}
		}
	}

	&__menu-list {
		display: flex;
		align-items: center;
		gap: 80px;

		@include tablet {
			column-gap: 40px;
		}

		@include mobile {
			color: var(--color-lignt-green);
			overflow-y: auto;
			padding-block: 30px;
			gap: 20px;
			flex-direction: column;
		}
	}

	&__menu-profile {
		display: flex;
		align-items: center;
		gap: 80px;

		@include tablet {
			column-gap: 40px;
		}

		@include mobile {
			overflow-y: auto;
			margin-left: auto;
			flex-direction: row;
			gap: 20px;
			padding-bottom: 30px;

		}
	}

	&__logo {
		width: 100%;
	}

	&__menu-link {
		display: inline-flex;
		height: 44px;
		align-items: center;
	}

	&__burger-button {
		z-index: var(--layer-mobile-menu);
	}
}